<footer>
  <p>Copyright &copy; Gregory Prestegord</p><a href="https://www.instagram.com/prestopaintmore" target="_blank" class="icon-wrapper instagram-unauth" aria-label="Instagram" id="yui_3_17_2_1_1777668741727_682"><div><svg class="social" viewBox="0 0 64 64"><use class="use-icon" xlink:href="/universal/svg/social-accounts.svg#instagram-unauth-icon"></use><use class="use-mask" xlink:href="/universal/svg/social-accounts.svg#instagram-unauth-mask"></use></svg></div></a>
  <p>This website is <a href="https://github.com/acouch/prestegord-art" target="_blank">open source</a></p>
</footer>
